body{
    background-color: #234281;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.jeu{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}


.titre{
    color: #234281;
}


.diff{
    display: flex;
    gap: 10px;
    button{
        background-color: #234281;
        padding: 10px 15px;
        border: 0px;
        border-radius: 20px;
        color: white;
    }
}


.stats{
    margin: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}


.cardContainer{
    display: flex;
    flex-direction: column;
}


.row{
    display: flex;
}

.cartes{
    width: 90px;
    height: 90px;
    margin: 10px;
    border: 2px solid #234281;
    border-radius: 10px;
    font-size: 30px;

    transition: 2s;
}


.newGame{
    background-color: #234281;
    padding: 10px 15px;
    border: 0px;
    border-radius: 20px;
    margin: 10px;
    color: white;
}


/* jeu */
.verso{
    width: 90px;
    height: 90px;
    margin: 10px;
    border: 2px solid #234281;
    border-radius: 10px;
    font-size: 30px;

   position: absolute;
    transform: translateX(-110px);
    z-index: -1;
}



.return{
    background-color: #234281;
    transform: rotateY(180deg);
    z-index: -2;
}

.flex{
    display: flex;
}